# vim:ft=sh:
# scp+rsync alias
alias scpresume='rsync --partial --progress --rsh=ssh'

# icecc monitor
alias icemonlab='icemon -n swui'

#alias grep='grep --color=always'
#alias egrep='egrep --color=always'

alias t='~/bin/todo.sh'

# Reload the shell (i.e. invoke as a login shell)
alias reload="exec $SHELL -l"

# some more ls aliases
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'

alias psgrep='ps aux | grep '
alias fgrep='find|grep --exclude="*~" --exclude="*.swp"'
alias reattach-tmux='tmux attach -tprogramming'

# random stuff
alias whatsapp='chromium --app=https://web.whatsapp.com'

# Add an "alert" alias for long running commands.  Use like so:
#   sleep 10; alert
alias alert='notify-send --urgency=low -i "$([ $? = 0 ] && echo terminal || echo error)" "$(history|tail -n1|sed -e '\''s/^\s*[0-9]\+\s*//;s/[;&|]\s*alert$//'\'')"'

# enable color support of ls and also add handy aliases
if [ -x /usr/bin/dircolors ]; then
  test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
  alias ls='ls --color=auto'

  alias grep="grep --color=auto ${CUSTOM_GREP_OPTIONS[@]}"
  alias fgrep="fgrep --color=auto ${CUSTOM_GREP_OPTIONS[@]}"
  alias egrep="egrep --color=auto ${CUSTOM_GREP_OPTIONS[@]}"
fi

