# vim:ft=sh:
# scp+rsync alias
alias scpresume='rsync --partial --progress --rsh=ssh'

# icecc monitor
alias icemonlab='icemon -n swui'

#alias grep='grep --color=always'
#alias egrep='egrep --color=always'

alias t='~/bin/todo.sh'

# Reload the shell (i.e. invoke as a login shell)
alias reload="exec $SHELL -l"

# some more ls aliases
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'

alias psgrep='ps aux | grep '
alias fgrep='find|grep --exclude="*~" --exclude="*.swp"'
alias reattach-tmux='tmux attach -tprogramming'

# random stuff
alias whatsapp='chromium --app=https://web.whatsapp.com'
