*.swp
*.swo
*~
/vim/sessions
/vim/plugged/
/vim/.netrwhist
*.pyc
weechat/logs
weechat/weechat.log
tmux/plugins/*
!tmux/plugins/tpm
tmux/resurrect
bin/python
bin/python-config
xdg-config/ranger/history
/cache
/mutt/cache
/config/btop/btop.log
