# Migrate these to Vundle
#
#[submodule ".vim/unbundle/general/ZoomWin"]
#	path = .vim/unbundle/general/ZoomWin
#	url = git://github.com/vim-scripts/ZoomWin.git
#[submodule ".vim/unbundle/general/vim-powerline"]
#	path = .vim/unbundle/general/vim-powerline
#	url = git://github.com/Lokaltog/vim-powerline.git
#[submodule ".vim/unbundle/general/restore_view.vim"]
#	path = .vim/unbundle/general/restore_view.vim
#  url = git://github.com/vim-scripts/restore_view.vim.git

[submodule ".tmux/tmux-colors-solarized"]
	path = .tmux/tmux-colors-solarized
	url = git://github.com/seebi/tmux-colors-solarized.git
