[core]
    editor = vim
    abbrev = 12
	autocrlf = input

[user]
    name = Nick Diego Yamane
    email = ndy@manaus.certi.org.br

[color]
    ui = auto
    diff = auto
    status = auto
    branch = auto

[alias]
    br = branch
    co = checkout
    ci = commit
    grep = grep -n
    l = log
    ll = log --pretty=format:\"%h %Cblue%cr%Creset %cn %Cgreen%s%Creset\"
    lll = log --pretty=oneline --abbrev-commit
    tag1 = tag | sort -n -t . -k 1,1 -k 2,2 -k 3,3
    s = status
    ra = rebase -i --autosquash
