[user]
    name =
    email =
[color]
    ui = auto
    diff = auto
    status = auto
    branch = auto
[alias]
    br = branch
    st = status
    co = checkout
    ci = commit
    grep = grep -n
    log1 = log --pretty=oneline --abbrev-commit
    rlog = log --pretty=format:\"%h %Cblue%cr%Creset %cn %Cgreen%s%Creset\"
    tag1 = tag | sort -n -t . -k 1,1 -k 2,2 -k 3,3
[url "git://anongit.kde.org/"]
    insteadOf = kde:
[url "ssh://git@git.kde.org/"]
    pushInsteadOf = kde:
